.article {
  position: relative;
}

.section {
  position: absolute;
  top: 0;
  padding-top: 1rem;
}

.header {
  margin-bottom: 0;
}

.overline {
  background: linear-gradient(66.7deg, #ffffff -66.11%, #e1ecff 100%);
  width: 47px;
  height: 2px;
}

.header h2 {
  font-size: 31px;
  font-family: "bold";
  color: #252525;
}

.linked {
  display: none;
}

.carouselcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -25px;
}

.carouselwrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carouselcontentwrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carouselcontent {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carouselcontent::-webkit-scrollbar,
.carouselcontent::-webkit-scrollbar {
  display: none;
}

.carouselcontent > * {
  width: 75%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carouselcontent.show-2 > * {
  width: 50%;
}

.carouselcontent.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.leftarrow,
.rightarrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background: linear-gradient(66.7deg, #e4e6ec -66.11%, #eef0f5 100%);
  border: 1px solid #ddd;
}

.leftarrow {
  left: 24px;
}

.rightarrow {
  right: 24px;
}

.btn {
  margin: -35px auto 0 auto;
  display: flex;
  justify-content: center;
}

.btn button {
  background: none;
  border: none;
}

.btn button a {
  text-decoration: none;
  color: #096f7c;
  font-size: 15px;
}

@media screen and (min-width: 760px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    display: none;
  }

  .linked {
    display: flex;
    width: 130px;
  }

  .linked p {
    color: #096f7c;
    font-size: 14px;
    font-family: "regular";
    text-transform: uppercase;
  }

  .linked button {
    background: none;
    border: none;
  }

  /* 
**********************************************
  */

  .carouselcontentwrapper {
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
  }

  .carouselcontent > * {
    width: 30%;
    flex-shrink: 0;
    flex-grow: 3;
  }

  .carouselcontent.show-2 > * {
    width: 30%;
  }

  .carouselcontent.show-3 > * {
    width: 30%;
  }

  .carousel-content.show-4 > * {
    width: 10%;
  }
}

@media screen and (min-width: 450px) {
  .carouselcontainer {
    margin-top: 50px;
  }
  .btn {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header h2 {
    font-size: 45px;
  }
  .carouselcontainer {
    margin-top: 51px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .leftarrow,
  .rightarrow {
    /* display: none; */
  }
}
