.main {
  margin: 240px auto 0 auto;
}
@media screen and (max-width: 760px) {
  .main {
    width: 90vw;
  }
}
.overline {
  background: linear-gradient(66.7deg, #ffffff -66.11%, #e1ecff 100%);
  width: 47px;
  height: 2px;
}

.main h2 {
  font-size: 25px;
  font-family: "bold";
  color: #252525;
}

.section {
  display: none;
}

.article {
  padding-top: 0;
  margin-top: 0px;
}

.card {
  background: #f3f6fa;
  padding: 68px 0 35px 35px;
  margin: 0;
}

.contain {
  margin: 0;
}

.contain > img {
  transform: translateY(4rem);
}

.card h3 {
  font-size: 20px;
  color: #5b6780;
  font-family: "bold";
}

.card p {
  font-size: 14px;
  color: #5b6780;
  font-family: "regular";
  width: 262px;
}

.linked {
  display: flex;
  width: 130px;
}

.linked p {
  color: #096f7c;
  font-size: 14px;
  font-family: "regular";
  text-transform: uppercase;
}

.linked button {
  background: none;
  border: none;
}

@media screen and (min-width: 450px) {
  .main {
    margin-top: 350px;
  }
  .card p {
    font-size: 15px;
    width: 302px;
  }
}

@media screen and (min-width: 760px) {
  .main {
    margin-top: 160px;
  }

  .article {
    display: none;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top: 47px;
  }

  .card {
    height: 250px;
    padding-right: 25px;
  }

  .contain {
    width: 320px;
  }

  .card h3 {
    font-size: 23px;
    font-family: "bold";
  }
  .card p {
    font-size: 14px;
    width: 250px;
  }

  .contain > img {
    width: 250px;
  }
}

@media screen and (min-width: 880px) {
  .main {
    margin-top: 200px;
  }
}

@media screen and (min-width: 960px) {
  .card p {
    width: 250px;
  }
}

@media screen and (min-width: 1050px) {
  .main {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    margin-top: 180px;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }

  .contain {
    width: 300px;
  }

  .contain > img {
    width: 220px;
  }

  .card p {
    width: 195px;
  }

  .main h2 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    width: 348px;
  }

  .contain {
    width: 348px;
  }

  .card p {
    width: 280px;
  }
}
