.main {
  margin: 70px auto 0 auto;
}

@media screen and (max-width: 760px) {
  .main {
    width: 90vw;
  }
}
.overline {
  background: linear-gradient(66.7deg, #ffffff -66.11%, #e1ecff 100%);
  width: 47px;
  height: 2px;
}

.header h1 {
  font-size: 25px;
  font-family: "bold";
  color: #252525;
}

.header h1:nth-child(2) {
  display: none;
}

.header h1:nth-child(1) {
  font-size: 25px;
  font-family: "bold";
}

.linked {
  display: none;
}

.section {
  margin: 38px 0;
}

.card {
  background: #f3f6fa;
  padding: 33px 40px 68px 28px;
  margin: 0;
}

.contain {
  margin-top: 24px;
}

.contain > img {
  width: 90vw;
  margin-bottom: -5px;
}

.card h3 {
  font-size: 20px;
  color: #5b6780;
  font-family: "bold";
}

.card p {
  font-size: 14px;
  color: #5b6780;
  font-family: "regular";
  width: 262px;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.link p {
  color: #096f7c;
  font-size: 14px;
  width: 78px;
  font-family: "regular";
  text-transform: uppercase;
}

.link button {
  background: none;
  border: none;
}

@media screen and (min-width: 450px) {
  .card p {
    font-size: 15px;
    width: 302px;
  }
}

@media screen and (min-width: 760px) {
  .main {
    margin-top: 100px;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top: 61px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header h1:nth-child(2) {
    display: block;
  }

  .header h1:nth-child(1) {
    display: none;
  }

  .card h3 {
    font-size: 23px;
    font-family: "bold";
  }

  .contain {
    width: 320px;
  }

  .contain > img {
    width: 320px;
  }

  .card p {
    font-size: 14px;
    width: 262px;
  }

  .linked {
    display: flex;
    width: 130px;
  }

  .linked p {
    color: #096f7c;
    font-size: 14px;
    font-family: "regular";
    text-transform: uppercase;
  }

  .linked button {
    background: none;
    border: none;
  }
}

@media screen and (min-width: 1000px) {
  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 30px; */
  }
  .contain {
    width: 340px;
  }

  .contain > img {
    width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    margin-top: 140px;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .contain {
    width: 300px;
  }

  .contain > img {
    width: 300px;
  }

  .header h1 {
    font-size: 45px;
  }

  .card p {
    width: 245px;
  }
}

@media screen and (min-width: 1400px) {
  .section {
    /* width: calc(100vw - 300px); */
  }
  .contain {
    width: 348px;
  }

  .contain > img {
    width: 348px;
  }

  .card p {
    width: 262px;
  }
}
