p {
  font-size: 15px;
  font-family: "Regular";
}

.footerSection {
  background: #f0f4fa;
  /* height: 689px; */
}

.list {
  display: grid;
  width: 90vw;
  padding-left: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.info {
  padding-left: 57px;
  margin-bottom: 56px;
}

@media screen and (min-width: 1200px) {
  .footerSection {
    /* height: 408px; */
    padding: 86px 150px 115px 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
  }

  .container1 {
    width: 70%;
    align-self: flex-end;
    padding-top: 3rem;
    border: 1px solid red;
  }
  .list,
  .info {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
  }

  .info {
    margin-top: 51px;
    /* width: ; */
  }

  .container2 {
    width: 30%;
    border: 1px solid red;
  }
}
