.footerSection {
  background: #f0f4fa;
}

.list {
  display: grid;
  width: 90vw;
  padding-left: 20px;
  line-height: 7px;
  grid-template-columns: repeat(2, 1fr);
}

.info {
  margin-top: 56px;
  padding-left: 57px;
  margin-bottom: 56px;
}

.listContent p,
.infoContent p {
  font-size: 15px;
  font-family: "regular";
  width: 150px;
  color: #5b6780;
}

.container1 {
  padding-top: 72px;
}

.footerSection {
  padding-bottom: 20px;
}

@media screen and (min-width: 760px) {
  .footerSection {
    padding: 86px 40px 45px 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
  }

  .container1 {
    width: 70%;
    align-self: flex-end;
    padding-top: 3rem;
  }

  .list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
  }

  .info {
    margin-top: 51px;
  }

  .container2 {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .container1 {
    width: 70%;
    align-self: flex-end;
    padding-top: 3rem;
  }
  .list,
  .info {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
  }
}

.sect {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.logo {
  margin-left: 13px;
}

.logo img {
  border: 1px solid #e1e3e9;
}

@media screen and (min-width: 760px) {
  .sect {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .sect {
    width: 255px;
    margin-top: 30px;
    margin-left: 0;
  }
}
