.main {
  width: 90vw;
  margin: 39px auto 39px auto;
}
.overline {
  background: linear-gradient(66.7deg, #ffffff -66.11%, #e1ecff 100%);
  width: 47px;
  height: 2px;
  margin-bottom: 0;
}

.header h2 {
  font-size: 25px;
  font-family: "bold";
  color: #252525;
}

.header {
  margin-top: 0;
}

.linked {
  display: none;
}

.section {
  margin: 96px 0;
  display: none;
}

.mobile {
  margin-top: 36px;
}

.contain {
  position: relative;
  margin: 24px auto;
}

.contain > img {
  object-fit: cover;
  width: 90vw;
  height: 270px;
}

.child {
  position: absolute;
  bottom: 1rem;
  width: 80vw;
  left: 5vw;
  right: 5vw;
}

.child h3 {
  font-family: "bold";
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 0px 20px #000000;
}

.children {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.children div {
  display: flex;
  align-items: center;
}

.children div p {
  color: #fff;
  margin-left: 15px;
  font-size: 13px;
  font-family: "regular";
}

.btn {
  margin: 28px auto 0 auto;
  display: flex;
  justify-content: center;
}

.btn button {
  background: none;
  border: none;
}

.btn button a {
  text-decoration: none;
  color: #096f7c;
  font-size: 15px;
}

@media screen and (min-width: 700px) {
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .main {
    margin: 0;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    margin-top: 47px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contain > img {
    object-fit: cover;
    width: 346px;
    height: 416px;
  }

  .child {
    width: 300px;
    left: 23px;
    /* margin: 0 auto; */
  }

  .child h3 {
    width: 184px;
  }

  .contain {
    width: 348px;
  }

  .linked {
    display: flex;
    width: 130px;
  }

  .linked p {
    color: #096f7c;
    font-size: 14px;
    font-family: "regular";
    text-transform: uppercase;
  }

  .linked button {
    background: none;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    margin-top: 20px;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 57px;
    margin-top: 0;
  }

  .contain {
    width: 348px;
  }

  .contain > img {
    width: 348px;
  }

  .header h2 {
    margin-top: 19px;
    font-size: 45px;
  }
}
