.Hero {
  background-color: #f0f4fa;
}

.wrap img {
  width: 311px;
  height: 470px;
  position: relative;
}

.thingstext {
}

.wrap p {
  position: absolute;
  bottom: 50px;
  padding-left: 30px;
  font-size: 20px;
  color: #fff;
  font-family: "bold";
}

.wrap p:last-child {
  display: none;
}

.sliderSection {
  height: 360px;
  background: linear-gradient(
    66.7deg,
    rgba(143, 149, 168, 0.2) -66.11%,
    rgba(198, 206, 221, 0.2) 100%
  );
}

.slider {
  padding-left: 20px;
}

@media screen and (min-width: 760px) {
  .section,
  .secondSection {
    padding: 90px 50px;
  }

  .slider {
    padding-left: 40px;
  }

  .wrap p:last-child {
    display: block;
    position: absolute;
    bottom: 25px;
    font-size: 14px;
    padding-left: 30px;
    font-family: "regular";
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 48px 80px;
  }

  .secondSection {
    padding: 198px 80px;
  }

  .slider {
    padding-left: 60px;
  }
}
